{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1 class="text-center my-3">Mon panier</h1>

    <div class="row">
        <div class="col-10 mx-auto">
            {% include 'include/_flashes.html.twig' %}
        </div>
    </div>

    <div class="row my-3">
        <div class="col-10 mx-auto">

            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Produit</th>
                    <th class="text-center">Quantité</th>
                    <th class="text-center">P.U</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                    {% set montant = 0 %}
                    {% for item in app.session.get('panier') %}

                        <tr>
                            {% set total = item.produit.price * item.quantity %}
                            {% set montant = montant +  total %}

                            <td class="align-middle text-center">{{ item.produit.id }}</td>
                            <td class="align-middle text-center">
                                <div>{{ item.produit.title }}</div>
                                {% if item.produit.photo %}
                                    <img src="{{ asset('uploads/' ~ item.produit.photo) }}" alt="photo de produit" width="250" height="120" style="object-fit:contain;">
                                {% else %}
                                    <img src="" alt="photo de produit" width="250" height="120" style="object-fit:contain;">
                                {% endif %}
                            </td>
                            <td class="align-middle text-center">{{ item.quantity}}</td>
                            <td class="align-middle text-center">{{ item.produit.price }} €</td>
                            <td class="align-middle text-center">{{ total }} €</td>
                            <td class="align-middle text-center">
                                <a href="{{ path('panier_remove', {id:item.produit.id})}}" class="btn btn-sm btn-danger"><i class="fa-solid fa-circle-minus" title="Supprimer le produit de ce panier"></i></a>
                            </td>
                        </tr>
                        {# {% endif %} #}
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center bg-warning"> Votre panier est vide.</td>    
                        </tr>
                    {% endfor %}

                </tbody>
                <tfoot>
                     {% if app.session.get('panier') %}
                        <tr>
                            <td class="align-middle text-center" colspan="4">Montant total :</td>
                            <td class="align-middle text-center">{{ totalCommande }} €</td>
                            <td></td>
                        </tr>
                    {% endif %}
                </tfoot>
            </table>
            {% if app.session.get('panier') %}
                <div class="row gap-6 mx-auto text-center">
                    <div class="col">
                        <a href="{{ path('empty_panier')}}" class="btn btn-danger col-5 text-center">Vider mon panier</a>
                        <a href="{{ path('panier_validate')}}" class="btn btn-success col-5 text-center">Valider mon panier</a>
                    </div>
                </div>
                
            {% endif %}
        </div>
    </div>

{% endblock %}