{% extends 'base.html.twig' %}

{% block title %}Admin | Voir tous les produits{% endblock %}

{% block body %}

    <h1 class="text-center my-3">Tous les produits</h1>

    <div class="row">
        <div class="col-8 mx-auto">
            {% include 'include/_flashes.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <a href="{{ path('create_produit') }}" class="btn btn-lg btn-primary">Ajouter un produit <i class="fa-solid fa-circle-plus"></i></a>
        </div>
    </div>

    <table class="table my-3">
        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Couleur</th>
            <th>Taille</th>
            <th>Collection</th>
            <th>Photo</th>
            <th>Prix</th>
            <th>Stock</th>
            <th>Créé le</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for produit in produits %}

            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.title }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.color }}</td>
                <td>{{ produit.size }}</td>
                <td>{{ produit.collection }}</td>
                <td>
                    <img src="{{ asset('uploads/' ~ produit.photo) }}" alt="image de produit" width="80" height="58" style="object-fit: contain;">
                </td>
                <td>{{ produit.price }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.createdAt | date('d/m/Y') }}</td>
                <td>
                    <a href="" title="Voir le produit" class="text-center align-middle text-primary"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('update_produit', {'id': produit.id}) }}" title="Modifier le produit" class="text-center align-middle text-warning"><i class="fa-solid fa-edit"></i></a>
                    <a href="{{ path('soft_delete_produit', {'id': produit.id} ) }}" title="Archiver le produit" class="text-center align-middle text-danger" onclick="return confirm('Voulez-vous archiver ce produit ?\n Si oui, il sera off-line.')"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>

        {% else %}

            <tr>
                <td colspan="11" class="bg-warning text-center">Aucun produit en ligne</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}