{% extends 'base.html.twig' %}

{% block title %}Admin | Voir les commandes{% endblock %}

{% block body %}

    <h1 class="text-center my-3">Toutes les commandes</h1>

    <div class="row">
        <div class="col-8 mx-auto">
            {% include 'include/_flashes.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <a href="{{ path('show_canceled_commandes') }}" class="mb-3 btn btn-lg btn-primary">Voir toutes les commandes annulées <i class="fa-solid fa-eye"></i></a>
        </div>
    </div>

    <table class="table">

        <thead class="table-dark">
        <tr>
            <th>Commande N°#</th>
            <th>Membre</th>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Montant</th>
            <th>État</th>
            <th>Passée le</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for command in commandes %}
            {% set produit=command.products | first %}
            <tr>
                <td>{{ command.id }}</td>
                <td>{{ command.user.id }} - {{ command.user.fullname }} - {{ command.user.email }}</td>
{#                <td>{{ produit.id }} - {{ produit.title }}</td>#}
                <td></td>
                <td>{{ command.quantity }}</td>
                <td>{{ command.total }}</td>
                <td>{{ command.state }}</td>
                <td>{{ command.createdAt | date('d/m/Y') }} - {{ command.createdAt | date('H:i') }}</td>
                <td>
                    <a href="#" title="Voir la commande" class="btn btn-sm btn-primary"><i class="fa-solid fa-eye"></i></a> |
                    <a href="{{ path('soft_delete_commande', {'id': command.id}) }}" title="Annuler la commande" class="btn btn-sm btn-danger"><i class="fa-solid fa-ban"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8" class="text-center bg-warning">Toutes les commandes ont été honorées</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}